$title-text-color: #212121;
$porfolio-h-color: #212121;
$portfolio-p-color: #757575;
$acent-color: #2196f3;

$text-normal: 400;
$text-bold: 700;
$title-text: 900;

$fontReleway: Releway, sans-serif;
$fontRoboto: Roboto, sans-serif;
